
.musica{
    padding-top: 10px;
    display: grid;
    background-color: black;
    height: 1200px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,1fr)
}
.playmode{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.playmode iframe{
    border-radius: 20px;
    margin-top: 10px;
    height: 500px;
    width: 300px;
}
.playmode h3{

    color: white;
}
.data{
    background-color: black;
    height: 200px;
    padding: 20px;

    color:white
}
.data h2{
    font-size: 60px;
    color: black;
}
.data h3{
    margin-top: 20px;
    font-size: 30px;
    color: black;
}
.data p{
    margin-top: 20px;
    font-size: 30px;
}
.portadaa{
    height: 500px;
}