
/* PHOTOS*/
.photos-main{
    height: 1px;
}
.galeria{
    height: 1150px;
    background-color: black;

&__titulo{
    color: white;
    font-size: 50px;
    padding: 20px;
}
}
.albumDeFotos{
    display: grid;
    background-color: black;
    height: 600px;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);

    &__fotos{
        width: 300px;
        height: 500px;
        margin: 10px;
        border-radius: 20px;
}
}