
//Fuentes

$fuente_principal: 'Inter Tight', sans-serif;

//Tamaño de Media Queries
$telefonoschicos: 320px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1280px;
// Colores
$negro: #000000;

